<!DOCTYPE html>
{% load static %}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BR3AKM30UT</title>
    <meta name="description"
        content="I'm Ahmed Elhady, Junior Software developer, I intersted in Computer science and Cyber security, I love to code since my childhood, I like to implement my own ideas.">
    <link rel="stylesheet" href="{% static 'portfolio/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="icon" href="{% static 'portfolio/img/avatars/avatar.jpg' %}" type="image/icon type">
    <style>
        .iconify
        {
            color: #1F1820;
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="{% url 'home' %}">BR3AKM30UT</a><button
                data-toggle="collapse" data-target="#navbarNav" class="navbar-toggler"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li role="presentation" class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link"
                            href="{% url 'blog:all_blogs' %}">Blog</a></li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    {% block content %} {% endblock content %}

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.facebook.com/ahm3delhady" target="_blank">
                    <span class="iconify" data-icon="ion-social-facebook" data-inline="false"></span>
                </a>
                <a href="https://www.linkedin.com/in/ahm3delhady" target="_blank">
                    <span class="iconify" data-icon="ion-logo-linkedin" data-inline="false"></span>
                </a>
                <a href="https://www.twitter.com/ahm3delhady" target="_blank">
                    <span class="iconify" data-icon="ion-logo-twitter" data-inline="false"></span>
                </a>
                <a href="https://www.github.com/ahm3delhady" target="_blank">
                    <span class="iconify" data-icon="ion-logo-github" data-inline="false"></span>
                </a>
                <a href="https://www.instagram.com/ahm3delhady" target="_blank">
                    <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>
                </a>
            </div>
            <p class="copyright" style="font-size: 18px">BR3AKM30UT © 2020</p>
        </footer>
    </div>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'portfolio/js/script.min.js' %}"></script>
</body>

</html>